<div class="notebook">
  <app-note-list
  [notesToDisplay]="notesToDisplay"
  [selectedNote]="selectedNote"
  [selectedNotebookId]="selectedNotebookId"
  [selectedTagId]="selectedTagId"
  (searchNoteEvent)="searchNote($event)"
  >
  </app-note-list>
  <router-outlet></router-outlet>
</div>
