.side-nav {
  width: 200px;
  height: 100%;
  max-height: 100%;
  position: relative;
}

.side-nav [nz-menu] {
  background-color: #313642;
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 12px;
}

.side-nav [nzTitle] {
  font-weight: 700;
}

::ng-deep .side-nav .ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
  height: 30px;
  padding: 0 24px 0 16px !important;
}

::ng-deep .side-nav .ant-menu-submenu-arrow {
  display: none;
}

::ng-deep .side-nav .ant-menu-item {
  padding: 0 0 0 32px !important;
  margin: 0px !important;
  font-weight: normal;
  color: #fff;
  font-size: 12px;
  height: 30px;
  position: relative;
}

::ng-deep .side-nav .ant-menu-item:hover {
  background-color: #25282e;
}

::ng-deep .side-nav .ant-menu-item .delete-icon {
  display: none;
  position: absolute;
  top: 8px;
  right: 5px;
  font-size: 12px;
}

::ng-deep .side-nav .ant-menu-item:hover .delete-icon{
  display: block;
}

.side-nav .notebook-item.ant-menu-item-selected {
  background-color: #131313;
}

.side-nav .tag-item.ant-menu-item-selected {
  background-color: #131313;
}

.side-nav .all-notes {
  color: #7c7f86;
}

.side-nav [nz-submenu] {
  background-color: inherit;
}

::ng-deep .side-nav ul {
  background-color: inherit;
}

::ng-deep .ant-menu.ant-menu-inline.ant-menu-sub {
  background-color: inherit;
}

.side-nav [nz-menu-item] > [nz-icon] {
  margin-right: 5px;
}

.new-notebook-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 3;
  font-size: 16px;
  color: #fff;
}

::ng-deep .ant-modal-header {
  border: none;
  padding: 20px 15px 10px;
}

::ng-deep .ant-modal-body {
  border: none;
  padding: 10px 15px 10px;
}

::ng-deep .ant-modal-footer {
  border: none;
  padding: 10px 15px 20px;
}

::ng-deep .ant-modal-close {
  display: none;
}

.new-notebook-modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.new-notebook-modal-content {
  background-color: #f4f5f6;
  padding: 10px 10px 20px;
}

.new-notebook-modal-content label {
  font-size: 11px;
}

.new-notebook-modal-content input {
  margin: 8px 0px;
  font-size: 12px;
}

.new-notebook-modal-content .icon-btn-group {
  display: flex;
  margin-top: 10px;
}

.new-notebook-modal-content [nz-button] {
  font-size: 11px;
  height: 25px;
  box-sizing: border-box;
  padding: 1px 10px;
  margin-right: 5px;
  color: #2d6bdc;
}

.new-notebook-modal-footer [nz-button] {
  font-size: 11px;
  height: 25px;
  width: 70px;
  box-sizing: border-box;
  padding: 1px 10px;
  color: #2d6bdc;
}

::ng-deep .ant-dropdown-menu-item {
  height: 25px;
  font-size: 11px;
}
