<div class="side-nav">
  <ul nz-menu nzMode="inline" nzTheme="dark">
    <span class="new-notebook-icon" nz-icon nzType="plus" (click)="showModal()"></span>
    <li nz-submenu nzTitle="NOTEBOOKS" nzIcon="book" nzOpen>
      <ul>
        <li
          nz-menu-item class="notebook-item all-notes"
          (click)="changeSelectedNotebookId(0)"
          [nzSelected]="selectedNotebookId === 0 && selectedTagId === 0"
          >
          <span nz-icon nzType="copy"></span>
          All notes
        </li>
        <li
          class="notebook-item"
          nz-menu-item
          *ngFor="let notebook of notebooks"
          (click)="changeSelectedNotebookId(notebook.id)"
          (contextmenu)="contextMenu($event, menu)"
          [nzSelected]="notebook.id === selectedNotebookId && selectedTagId === 0"
          >
          {{notebook.name}}
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="showModal()">New notebook</li>
              <li nz-menu-item (click)="showConfirm(notebook)">Delete notebook</li>
            </ul>
          </nz-dropdown-menu>
        </li>
      </ul>
    </li>
    <li nz-submenu nzTitle="TAGS" nzIcon="tag" nzOpen>
      <ul>
        <li
          class="tag-item"
          *ngFor="let tag of tags"
          nz-menu-item
          (contextmenu)="contextTagMenu($event, tagMenu)"
          (click)="changeSelectedTagId(tag.id)"
          [nzSelected]="tag.id === selectedTagId"
          >
          {{tag.label}}
          <nz-dropdown-menu #tagMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="showConfirmDeleteTag(tag)">Delete tag</li>
            </ul>
          </nz-dropdown-menu>
        </li>
      </ul>
    </li>
  </ul>

  <!-- Modal -->
  <nz-modal
    class="new-notebook-modal"
    [(nzVisible)]="isVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()"
  >
    <ng-template #modalTitle>
      <div class="new-notebook-modal-title">
        Create notebook
      </div>
    </ng-template>

    <ng-template #modalContent>
      <div class="new-notebook-modal-content">
        <label>Title</label>
        <input type="text" nz-input [(ngModel)]="newNotebookName" (keyup.enter)="handleOk()"/>

        <label>Icon</label>
        <div class="icon-btn-group">
          <button nz-button nzType="default">Select emoji...</button>
          <button nz-button nzType="default">Select file...</button>
        </div>
      </div>
    </ng-template>

    <ng-template #modalFooter>
      <div class="new-notebook-modal-footer">
        <button nz-button nzType="default" class="new-notebook-create" (click)="handleOk()">OK</button>
        <button nz-button nzType="default" class="new-notebook-cancel" (click)="handleCancel()">Cancel</button>
      </div>
    </ng-template>
  </nz-modal>
</div>
