<div class="note-editor">
  <div class="note-editor-header">
    <div class="note-editor-name">
      <input
        #editNoteTitleInput
        *ngIf="selectedNote.id"
        type="text"
        [(ngModel)]="editingNote.title"
        (ngModelChange)="updateNote()"
        />

      <input
        *ngIf="selectedNote.id === 0"
        type="text"
        placeholder="Creating new note..."
        [(ngModel)]="editingNote.title"
        (ngModelChange)="createNote()"
        />
    </div>

    <div class="note-editor-note-info">
      <div class="note-updated-at">{{selectedNote.updatedAt ? convertUnixToDate(selectedNote.updatedAt) : ''}}</div>
      <div class="note-language note-editor-header-btn">
        <span class="note-language-icon" nz-icon nzType="global" nzTheme="outline"></span>
        <span class="note-language-value">en</span>
      </div>
      <div class="note-info note-editor-header-btn" (click)="showNoteInfoModal()">
        <span nz-icon nzType="info-circle" nzTheme="outline"></span>
      </div>
    </div>
  </div>

  <div class="note-editor-content">
    <div class="note-editor-content-toolbar">
      <div class="note-editor-content-toolbar-left">
        <span nz-icon nzType="left" nzTheme="outline" (click)="back()"></span>
        <span nz-icon nzType="right" nzTheme="outline" (click)="forward()"></span>
        <span nz-icon>B</span>
        <span nz-icon nzType="italic" nzTheme="outline"></span>
        <span nz-icon nzType="link" nzTheme="outline"></span>
        <span nz-icon>{{ '\{;\}' }}</span>
        <span nz-icon nzType="paper-clip" nzTheme="outline"></span>
        <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
        <span nz-icon nzType="ordered-list" nzTheme="outline"></span>
        <span nz-icon nzType="check-square" nzTheme="outline"></span>
        <span nz-icon>H</span>
        <span nz-icon nzType="dash" nzTheme="outline"></span>
        <span nz-icon nzType="calendar" nzTheme="outline"></span>
      </div>

      <div class="note-editor-content-toolbar-right">
        <div class="selected-icon">
          <span nz-icon>M</span>
        </div>
        <div class="non-selected-icon">
          <span nz-icon nzType="form" nzTheme="outline"></span>
        </div>
      </div>
    </div>

    <textarea
      nz-input
      [nzBorderless]="true"
      class="note-editor-content-textarea"
      [(ngModel)]="editingNote.content"
      (ngModelChange)="updateNote()"
      >
    </textarea>
  </div>

  <div class="note-editor-tag">
    <span nz-icon nzType="tags" nzTheme="outline" (click)="showTagModal()"></span>
    <div *ngFor="let tag of listOfSelectedTag" class="tag-on-footer" (click)="clickTagOnFooter(tag)">{{tag.label}}</div>
    <p (click)="showTagModal()">Click to add tags...</p>
  </div>

  <!-- Modal Tag -->
  <nz-modal
    class="new-tag-modal"
    [(nzVisible)]="isVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancelTagModal()"
  >
    <ng-template #modalTitle>
      <div class="new-tag-modal-title">
        Add or remove tags
      </div>
    </ng-template>

    <ng-template #modalContent>
      <div class="new-tag-modal-content">
        <nz-select
          nzMode="multiple"
          nzPlaceHolder="Please select"
          [(ngModel)]="listOfSelectedValue"
          nzNotFoundContent="No data"
          (nzOnSearch)="tagOnChange($event)"
          (ngModelChange)="handleTagSelectChange($event)"
        >
          <nz-option
            *ngIf="newTag.label !== ''"
            [nzLabel]='"Create \"" + newTag.label + "\""'
            [nzValue]="0">
          </nz-option>
          <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
      </div>
    </ng-template>

    <ng-template #modalFooter>
      <div class="new-tag-modal-footer">
        <button nz-button nzType="default" (click)="handleOkTagModal()">OK</button>
        <button nz-button nzType="default" (click)="handleCancelTagModal()">Cancel</button>
      </div>
    </ng-template>
  </nz-modal>

  <!-- Modal Note Info -->
  <nz-modal
    class="note-info-modal"
    [(nzVisible)]="isNoteInfoVisible"
    [nzTitle]="modalNoteTitle"
    [nzContent]="modalNoteContent"
    [nzFooter]="modalNoteFooter"
    (nzOnCancel)="handleCancelNoteInfoModal()"
  >
    <ng-template #modalNoteTitle>
      <div class="note-info-modal-title">
        Note properties
      </div>
    </ng-template>

    <ng-template #modalNoteContent>
      <div class="note-info-modal-content">
        <div nz-row>
          <div nz-col nzSpan="8">
            <label>Updated</label>
          </div>
          <div nz-col nzSpan="16">
            <p>{{selectedNote.createdAt ? convertUnixToDate(selectedNote.createdAt) : ''}}</p>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <label>Created</label>
          </div>
          <div nz-col nzSpan="16">
            <p>{{selectedNote.updatedAt ? convertUnixToDate(selectedNote.updatedAt) : ''}}</p>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <label>URL</label>
          </div>
          <div nz-col nzSpan="16">
            <div class="note-info-url">
              <p>http://localhost:4200/notebook/{{selectedNotebookId}}/note/{{selectedNote.id}}</p>
              <span
                nz-icon
                nzType="copy"
                nzTheme="fill"
                (click)="writeToClipboard('http://localhost:4200/notebook/' + selectedNotebookId + '/note/' + selectedNote.id)"></span>
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <label>ID</label>
          </div>
          <div nz-col nzSpan="16">
            <p>{{selectedNote.id}}</p>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #modalNoteFooter>
      <div class="new-tag-modal-footer">
        <button nz-button nzType="default" (click)="handleCancelNoteInfoModal()">OK</button>
        <button nz-button nzType="default" (click)="handleCancelNoteInfoModal()">Cancel</button>
      </div>
    </ng-template>
  </nz-modal>
</div>
