.note-editor {
  display: block;
  width: calc(100vw - 400px);
  padding: 0px 0px 0px 8px;
}

.note-editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
  height: 40px;
  width: 100%;
  margin: 0;
}

.note-editor-name {
  width: 75%;
}

.note-editor-name input {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  padding: 2px 3px;
}

.note-editor-note-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #7b8b9b;
}

.note-editor-note-info .note-updated-at {
  font-size: 11px;
  margin-right: 8px;
}

.note-editor-note-info .note-language {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
}

.note-language .note-language-icon {
  font-size: 14px;
}

.note-language .note-language-value {
  font-size: 12px;
  margin-left: 3px;
}

.note-info {
  font-size: 12px;
}

.note-editor-header-btn {
  padding: 2px 4px;
  border-radius: 2px;
}

.note-editor-header-btn:hover {
  background-color: #cbdaf1;
  cursor: pointer;
}

.note-info-modal-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
}

.note-info-modal-content label {
  font-size: 12px;
  font-weight: 700;
}

.note-info-modal-content p {
  font-size: 12px;
}

.note-editor-content {
  height: calc(100vh - 70px);
}

.note-editor-content-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f5f6;
  padding: 5px 5px;
}

.note-editor-content-toolbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.note-editor-content-toolbar-left span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7b8b9b;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-right: 5px;
  border-radius: 2px;
  height: 22px;
  width: 22px;
}

.note-editor-content-toolbar-left span:hover {
  background-color: #cbdaf1;
}

.note-editor-content-toolbar-right {
  border: #7b8b9b solid 1px;
  border-radius: 2px;
  height: 20px;
  padding: 0px;
  display: flex;
  align-items: center;
}

.note-editor-content-toolbar-right span {
  text-align: center;
  padding: 0px 6px;
  font-size: 12px;
}

.selected-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #7b8b9b;
}

.non-selected-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.note-editor-tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  box-sizing: border-box;
  padding: 5px;
}

.note-editor-tag span {
  color: #7b8b9b;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-right: 5px;
  border-radius: 2px;
}

.note-editor-tag span:hover {
  background-color: #cbdaf1;
}

.note-editor-tag p {
  font-size: 11px;
  height: 100%;
  margin: 0;
}

.note-editor-tag p:hover {
  cursor: pointer;
}

::ng-deep .ant-modal-header {
  border: none;
  padding: 20px 15px 10px;
}

::ng-deep .ant-modal-body {
  border: none;
  padding: 10px 15px 10px;
}

::ng-deep .ant-modal-footer {
  border: none;
  padding: 10px 15px 20px;
}

::ng-deep .ant-modal-close {
  display: none;
}

.new-tag-modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.new-tag-modal-content label {
  font-size: 11px;
}

.new-tag-modal-content nz-select {
  margin: 8px 0px;
  font-size: 12px;
  width: 100%;
}

.new-tag-modal-content .icon-btn-group {
  display: flex;
  margin-top: 10px;
}

.new-tag-modal-content [nz-button] {
  font-size: 11px;
  height: 25px;
  box-sizing: border-box;
  padding: 1px 10px;
  margin-right: 5px;
  color: #2d6bdc;
}

.new-tag-modal-footer [nz-button] {
  font-size: 11px;
  height: 25px;
  width: 70px;
  box-sizing: border-box;
  padding: 1px 10px;
  color: #2d6bdc;
}

.tag-on-footer {
  background-color: #f4f5f6;
  color: #7b8b9b;
  text-align: center;
  font-size: 9px;
  font-weight: 600;
  border-radius: 12px;
  padding: 2px 7px;
  margin-right: 5px;
}

.tag-on-footer:hover {
  cursor: pointer;
}

.note-editor-content-textarea {
  margin-top: 10px;
  height: calc(100% - 42px);
  overflow-x: hidden;
  overflow-y: auto;
}

.note-info-url {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.note-info-url span {
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 12px;
}
