.note-list-nav {
  background-color: #f4f5f6;
  width: 200px;
  height: 100%;
  max-height: 100%;
}

.note-list-nav-control {
  padding: 8px 10px;
}

.create-group-button {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
}

.create-group-button [nz-button] {
  font-size: 11px;
  height: 25px;
  width: 50%;
  box-sizing: border-box;
  padding: 1px;
}

.new-note-btn {
  margin-right: 7px;
  background-color: #2d6bdc;
}

.new-todo-btn {
  color: #2d6bdc;
}

.note-list-nav input {
  font-size: 12px;
}

.note-list-nav ul {
  border: none;
}

.note-list-nav [nz-menu] {
  margin-top: 10px;
  background-color: inherit;
  max-height: calc(100vh - 92px);
  overflow-y: auto;
  overflow-x: hidden;
}

::ng-deep .note-list-nav .ant-menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 35px;
  font-size: 12px;
  margin: 0 !important;
  padding: 0 12px;
  color: #1f1f1f;
}

::ng-deep .note-list-nav .ant-menu-item .note-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #d9d9d9;
}

::ng-deep .note-list-nav .ant-menu-item:hover {
  color: #1f1f1f;
  background-color: #cbdaf1;
}

::ng-deep .note-list-nav .ant-menu-item.ant-menu-item-selected {
  background-color: #e5e5e5;
}

.note-list-nav [nz-menu-item] {
  border-bottom: 1px thin #d9d9d9;
}

::ng-deep .note-list-nav .ant-input-suffix {
  color: #2d6bdc;
}

.note-list-nav .note-be-creating {
  color: #afb1b4;
}

::ng-deep .ant-dropdown-menu-item {
  height: 25px;
  font-size: 11px;
}
