<div class="note-list-nav">
  <div class="note-list-nav-control">
    <div class="create-group-button">
      <button class="new-note-btn" nz-button nzType="primary" (click)="turnOnCreatingMode()">
        <span nz-icon nzType="plus"></span>
        New Note
      </button>
      <button class="new-todo-btn" nz-button nzType="default">
        <span nz-icon nzType="plus"></span>
        New Todo
      </button>
    </div>

    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input class="search-note-input" placeholder="Search" [(ngModel)]="searchValue" (ngModelChange)="searchNote()" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span *ngIf="searchValue === ''" nz-icon nzType="search"></span>
      <span *ngIf="searchValue !== ''" nz-icon nzType="close" class="clear-search-value" (click)="clearSearchValue()"></span>
    </ng-template>
  </div>

  <ul nz-menu class="note-list">
    <li *ngIf="selectedNote.id === 0" nz-menu-item [nzSelected]="selectedNote.id === 0">
      <div class="note-name note-be-creating">
        Untitled
      </div>
    </li>
    <li
      nz-menu-item
      class="note-item"
      *ngFor="let note of notesToDisplay"
      (click)="changeSelectedNote(note)"
      [nzSelected]="note.id === selectedNote.id "
      (contextmenu)="contextMenu($event, menu)"
      >
      <div class="note-name">
        {{checkIsNullTitle(note.title) ? 'Untitled' : note.title}}
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="showConfirm(note)">Delete note</li>
        </ul>
      </nz-dropdown-menu>
    </li>
  </ul>
</div>
